footer {
  text-align: center;
  color: $color-brown-light;
  padding: 5em 0;
  .logo {
    margin: 2em auto;
  }
  p {
    font-family: $ff-title;
    font-weight: bold;
    line-height: 1;
    margin: 0;
  }
}

// fill is set on path element inside svg
.logo--light * {
  fill: $color-brown-light;
}
