// these rules apply to everything in layout

.section {
  // setting up a global grid system (3 cols)
  display: grid;
  grid: auto-flow / minmax(1em, 1fr) minmax(300px, 700px) minmax(1em, 1fr);
  padding: 5em 0 0;

  &__title,
  &__subtitle,
  p {
    grid-column: 2 / 3;
  }
}

.section--card {
  grid-template-columns: minmax(1em, 1fr) repeat(6, 1fr) minmax(1em, 1fr);
  grid-template-rows: repeat(3, 1fr) minmax(0.5em, 3em);
}

img {
  max-width: 100%;
  height: auto;
}
