.card {
  padding: 2em;
  outline: 2px solid currentColor;
  outline-offset: -1em;
  box-shadow: 0 5px 0.5em rgba(black, 0.3);
  grid-row: 1 / 4;
  max-width: 700px;

  &--light {
    background: white;
  }

  &--dark {
    background: $color-blue-dark;
    color: $color-blue-light;

    .section__title {
      color: white; // being lazy :p
    }
  }

  &--start {
    grid-column: 2 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    h2,
    p,
    p {
      grid-column: 1 / span 3;
    }
  }
  &--end {
    grid-column: 4 / span 3;
    justify-self: start;
    align-self: start;
  }

  &__image {
    // If we put image on top of card and use padding to move text to the left, it is not going to be responsive because we have to hard-code the padding value
    // z-index: -1;
    grid-row: 2 / 5;
    min-width: 300px;

    &--start {
      grid-column: 2 / span 3;
      justify-self: center;
    }
    &--end {
      grid-column: 5 / span 3;
    }
    &.back {
      z-index: -1;
    }
  }
}
